<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>hello world</h1>


<form th:action="@{/post}" th:object="${registForm}" method="post">
    <input type="text" th:field="*{greeting}" />
    <p th:if="${#fields.hasErrors('greeting')}">error</p>
    <input type="text" th:field="*{intText}" />
    <p th:if="${#fields.hasErrors('intText')}">error</p>

    <button type="submit">送信</button>
</form>
</body>
</html>